body {
    background-color: rgb(255, 0, 0);
    color: white;
    font-family: "Share Tech", sans-serif;
    font-weight: 400;
    font-style: normal;
    justify-items: center;
    text-align: center;
}

h1 {
    text-align: center;
    font-size: 90px;
}

ul {
    display: grid;
    gap: 25px;
}

li {
    display: grid;
    gap: 10px;
    grid-template-columns: 1fr 1fr;
}

button {
    width: 200px;
    height: 50px;
    text-align: left;
    font-size: 30px;
    text-align: left;
    color: black;
}

.limpiar {
    width: fit-content;
    height: 50px;
}