body {
    background-color: rgb(255, 0, 0);
    color: white;
    font-family: "Share Tech", sans-serif;
    font-weight: 400;
    font-style: normal;
}

h1 {
    text-align: center;
    font-size: 90px;
}

section {
    display: flex;
    flex-direction: column;
    justify-self: center;
    gap: 15px;
}

article {
    display: flex;
    gap: 10px;
    justify-self: center;
}

.boton1 {
    font-size: 40px;
    width: 250px;
    text-align: left;
    text-indent: 50px;
}

.boton2 {
    font-size: 40px;
    width: fit-content;
}

